<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">EmailContentExtractor</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Localize
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="iris-import">
                <span class="bi bi-box-arrow-in-down" aria-hidden="true"></span> Iris Content Import
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="how-to">
                <span class="bi bi-question-circle" aria-hidden="true"></span> How To
            </NavLink>
        </div>
    </nav>
</div>

